.container{
    border-radius: 40px;
    background-color: #612457;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container:hover{
    background-color: #741b608a;

}

.container {
    background: #106d5936;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.heading {
    margin-bottom: 20px;
    font-weight: bold;
}

.inputBox {
    position: relative;
    margin-bottom: 25px;
}

.inputBox input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    color: #777;
    transition: 0.3s;
    pointer-events: none;
}


.inputBox input:focus + label,
.inputBox input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #007bff;
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #0044cc, #007bff);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #007bff;
    text-decoration: none;
}